#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}



/* Product Card Styles */
.product-listing-container {
  display: flex;
  flex-wrap: wrap;
  column-gap: 10px;
  row-gap: 10px;
  justify-content: center;
  background: #ffefd7;
  overflow-y: scroll;
  height: 80vh;
}

.product-card p {
  font-family: monospace;
  font-size: 16px;
  padding: 0;
  margin: 0 0 10px 0;
  color: #272525;
  text-align: left;
}

.product-card h4 {
  font-family: monospace;
  font-size: 20px;
  margin-bottom: 5px;
  color: #272525;
  text-align: left;
}

.product-card img {
  width: 100%;
  height: 200px;
  object-fit: contain;
}

.product-card {
  width: 265px;
  padding: 30px;
  position: relative;
}

.product-card span.category {
  background: #f5722f;
  padding: 5px;
  border-radius: 0 10px 10px 0;
  position: absolute;
  left: 0;
  font-size: 10px;
}

.primary-btn {
  font-size: 14px;
  font-weight: 600;
  color: #272525;
  border: 0.8px solid #272525;
  padding: 16px;
  margin-top: 10px;
  display: block;
  background: #f5722f;
  font-family: monospace;
  border-radius: 0;
}

.primary-btn:hover {
  background: transparent;
  color: #272525;
  border: 0.8px solid #272525;
}

.secondary-btn {
  font-size: 14px;
  font-weight: 600;
  color: #272525;
  border: 0.8px solid #272525;
  padding: 16px;
  margin-top: 10px;
  display: block;
  background: transparent;
  width: 100%;
  font-family: monospace;
  border-radius: 0;
}

.secondary-btn:hover {
  text-decoration: underline;
  border: 0.8px solid #272525;
  color: black;
}

.product-details .secondary-btn {
  width: auto;
}

.product-details p {
  color: black;
}

a.active-link {
  border-bottom: 1px solid;
}

.product-details {
  display: flex;
  flex-direction: column;
  background: #ffefd7;
  padding: 20px;
}

.detail-product-container {
  display: flex;
  align-items: center;
}

.product-left-side {
  margin: 20px;
  width: 30%;
}

.product-left-side img {
  width: 200px;
}

.product-right-side {
  text-align: left;
  width: 50%;
}

.product-right-side h2 {
  color: #272525;
}

.product-right-side p.price {
  font-size: 18px;
}



/* cart */
.cart-page {
  color: #272525;
  background: #ffefd7;
  padding: 20px;
  width: 100%;
}

.cart-item-list-section .item {
  display: flex;
  align-items: stretch;
  border-bottom: 1px solid;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.cart-item-list-section .item img {
  width: 80px;
  object-fit: contain;
  border: 1px solid;
  padding: 5px;
  margin-right: 10px;
}

.cart-item-list-section .product-info {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 100%;
}

.cart-item-list-section {
  max-height: 620px;
  height: 100%;
  overflow-y: auto;
  padding: 25px;
}

.product-info p {
  font-size: 16px;
  margin: 10px 0 12px 0;
}

.product-info h4 {
  font-size: 16px;
  margin: 0;
}

.cart-btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-btns span {
  margin: 0 20px;
}

button.cart-btn-pri {
  font-size: 14px;
  font-weight: 600;
  color: #272525;
  border: 0.8px solid #272525;
  padding: 16px;
  display: block;
  background: transparent;
  width: auto;
  font-family: monospace;
  border-radius: 0;
}

button.cart-btn-sec {
  font-size: 14px;
  font-weight: 600;
  color: #272525;
  border: 0.8px solid #272525;
  padding: 16px;
  display: block;
  background: #f9dd3b;
  font-family: monospace;
  border-radius: 0;
  width: 100%;
}

.subtotal {
  display: flex;
  justify-content: space-between;
}

.subtotal h2 {
  font-size: 18px;
}


/* Home */
.home-section h1 {
  color: #272525;
}


/* navigation */
.nav {
  margin-bottom: 20px;
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.nav-links a {
  padding: 20px 25px;
  font-size: 16px;
  color: black;
  background: white;
}