#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

body {
  background-color: #edf5d1;
  padding: 0px;
  margin: 0px;
  color: rgba(0, 0, 0, 0.87);
  font-family: 'Roboto', sans-serif;
}


.app-title {
  margin: 0;
  margin-bottom: 30px;
}

.add-todo {
  margin: 30px 0px;
}

.task-input {
  height: 45px;
  width: 300px;
  border: 1px solid #e4f2f7;
  border-radius: 6px;
  padding: 2px 10px;
  margin-right: 10px;
}

.task-input:focus {
  box-shadow: 0 0 8px rgba(142, 228, 175, 0.6);
  outline: none;
}

.task-button {
  height: 49px;
  width: 100px;
  border: none;
  border-radius: 6px;
  background-color: brown;
  color: white;
}

.task-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.task-button:hover {
  cursor: pointer;
}

.tasks-list {
  list-style: none;
  margin: auto;
  padding: 0px;
}

.task-item {
  margin: 15px 0px;
  display: flex;
  justify-content: space-between;
  padding: 8px 40px;
}

.task-title {
  text-transform: capitalize;
  font-size: 18px;
  padding: 0;
}

.remove-task-button {
  background-color: brown;
  color: white;
  border-radius: 4px;
  padding: 0.6em 1.2em;
  border: none;
  margin-right: 10px;
}

.remove-task-button:hover {
  cursor: pointer;
}